.sidebar, .sidebar-light {
    background-color: #22262e !important;
    border-right-color: black !important;
    border-right-style: solid !important;
    border-right-width: 1px !important
}

.message .thumb, .message .thumb:not(.thumb-small) .avatar {
    border-radius: 50% !important
}

.main-content {
    background-color: #181b21 !important
}

.color-primary-font-color {
    color: #FFF !important
}

.content-background-color {
    background-color: #181b21 !important
}

.secondary-background-color {
    background-color: #000 !important
}

.rc-header {
    background-color: #181b21 !important;
    border-bottom-color: black !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important
}

.rc-header__wrap {
    background-color: #181b21 !important
}

.message .info .is-bot, .message .info .role-tag {
    background-color: #6c388c !important;
    color: #FFF !important;
    border-width: 0px !important
}

.rc-header__name {
    color: #FFF !important
}

.rc-message-box {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 24px !important;
    padding-left: 0px !important;
    border-top-color: black !important;
    border-top-style: solid !important;
    border-top-width: 1px !important
}
.rc-message-box__container {
    background-color: #181b21 !important;
    border-width: 0px !important
}

.rc-message-box__toolbar-formatting {
    background-color: #181b21 !important;
    border-top-color: black !important;
    border-top-style: solid !important;
    border-top-width: 1px !important
}

.emoji-picker {
    background-color: #22262e !important;
    border-radius: 5px !important;
    border: 1px solid black !important
}

.rc-input__element {
    color: #000 !important;
    background-color: #FFF !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    height: 2rem !important
}

.rc-popover__content {
    background-color: #22262e !important
}

.rc-popover__item {
    color: #FFF !important
}


.contextual-bar {
    border-left-color: black !important;
    border-left-style: solid !important;
    border-left-width: 1px !important
}
.contextual-bar__content {
    background-color: #22262e !important
}

.contextual-bar__header {
    background-color: #22262e !important;
    border-bottom-color: black !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important
}

.rc-button--outline {
    background-color: #414852 !important
}

.rc-button {
    color: #FFF !important;
    border-width: 1px !important
}

.rc-popover__title {
    color: #FFF !important
}

.attachment .attachment-block .attachment-block-border {
    width: 0px !important;
}

.message .body .inline-image img {
 max-width:100% !important;
 max-height:40vh !important;
 border-radius: 5px !important
}

.emoji-picker .filter-item .category-icon {
    color: #FFF !important
}

.sidebar-item__ellipsis, .sidebar-item__name {
    color: #FFF !important
}

.sidebar-item__icon, .sidebar-item__link {
    color: #FFF !important
}

.rc-table-title {
    color: #FFF !important
}

input, 
select, 
textarea {
    color: #FFF !important
}

.ytp-cued-thumbnail-overlay-image {
    border-radius: 5px !important
}

.sidebar-flex__search .rc-input__element {
    color: #000 !important
}

.rc-modal {
    background-color: #22262e !important;
    border-radius: 5px !important;
    border: 1px solid black !important
}

.rc-modal__title {
    color: #FFF !important
}

.rc-modal__footer {
    background-color: #22262e !important
}

.messages-container .footer {
    background-color: #181b21 !important
}

.rc-popover__content {
    border: 1px solid black !important;
    border-radius: 5px !important
}

.message.new-day::before {
    background-color: #242932 !important
}

.rc-user-info-details {
    background-color: #22262e !important
}

.rc-user-info-details__info {
    color: #FFF !important
}

.message-actions {
    color: #FFF
}
